Flask==2.3.2
Flask-Cors==3.0.10
Werkzeug==2.3.7
Jinja2==3.1.2

pymongo==4.4.1
dnspython==2.4.2  # For MongoDB SRV connections

bcrypt==4.0.1
pyjwt==2.8.0
cryptography==41.0.3

fpdf2==2.7.6

secure-smtplib==0.1.1
email-validator==2.0.0

python-telegram-bot==20.3

pytz==2023.3
tzlocal==5.0.1

python-dotenv==1.0.0
python-slugify==8.0.1
uuid==1.30

aiohttp==3.8.5
asyncio==3.4.3

requests==2.31.0
urllib3==2.0.4

gunicorn==21.2.0
gevent==22.10.2

debugpy==1.6.7
python-dotenv==1.0.0